*{
  margin: 0;padding: 0;
}
a {
  /* 隱藏整個網頁的超連結底線 */
  text-decoration:none;
}
a:hover {
  /* 滑鼠移動與動畫效果 */
  /* border: 1px solid red; */
  /* 完全不透明 */
  opacity: 1.0;
}
/* 圖片特效 */
img:hover {
  /* 滑鼠移動與動畫效果 */
  /* border: 1px solid red; */
  /* 完全不透明 */
  opacity: 1.0;
}

/* 按鈕大框目前已經display:none 不顯示 */
#content{
  /* bd-按鈕大框*/
  border: 1px solid #ccc;
  display: flex;
  flex-wrap:wrap; /*//超過自動換行(重要:預設自動壓縮寬度不換行)  */
  gap:5px; /*//間隔10px */
/*      justify-content: center;   //置中 */
/*  align-items: center;  //副軸置中 */
/* 不顯示畫面 */
  display:none;  
}
/* 下拉選單 */
.dropdown{
  margin: 5px;
  font-size: 16px;
  /* font-weight: 600; */
  border-radius: 5px;
}

/* 搜尋列 */
.search{
  /* text-align: center; */
  padding: 8px;
}
#mySearch{
/* width: 80%; */
width: 300px;
font-size: 16px;
padding: 10px;
border: 1px solid #222;
border-radius:25px
}
#mySearch:hover{
  border: 1px solid red;
  /* 完全不透明 */
    opacity: 1.0;
  }

/* 書籤個別按鈕 */
.contentBtn{
  /* 寬度最寬300px適合手機 */
  width: 170px;
  /* max-width: 300px; */
  /* 高度50px與縮圖同高 */
  /* height: 50px;  */
  height: auto; 
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  gap: 4px;
  margin: 2px 2px 2px 2px;
  border-radius: 15px;
}
.contentBtn:hover{
  background-color: #ccc;
}
/* 分類按鈕 */
.kindBtn{
  /* 不顯示畫面20231206 */
  display:none;
  /* 寬度最寬300px適合手機 */
  width: 80px;
  /* max-width: 300px; */
  /* 高度50px與縮圖同高 */
  /* height: 50px;  */
  height: auto; 
  font-size: 116px;
  font-weight: 600;
  padding: 8px;
  gap: 4px;
  margin: 2px 2px 2px 2px;
  border-radius: 5px;
}
#pic {
    /* width: 200px; */
     height: 100px;
     margin-top: 25px;
  }

/* 縮圖按鈕   */
  .thumb-Btn {
    width: 50px;
    height: 50px;
    border: 2px solid #AAAAAA;
    cursor: pointer;
    /* 透明度0.2-0.5 */
    opacity: 0.5;
    /* CSS 動畫轉場 增加框線  */
    transition: border 2s, opacity 1s;
    /* transition: border 1s, opacity 0.3s; */
    border-radius: 10px;
  }
  .thumb-Btn:hover {
    border: 2px solid red;
  /* 完全不透明 */
    opacity: 1.0;
  }
  /* 書籤列 */
  .bookmark-item{
    border: 1px solid #aaa;
    border-radius: 5px;
  /* 寬度最寬300px適合手機 */
  /* width: 400px; */
  max-width: 310px;
  /* max-width: 300px; */
  /* 高度50px與縮圖同高 */
  /* height: 100px; */
   
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  margin: 2px 2px 2px 2px;
  display: flex;
  flex-wrap:wrap; /*//超過自動換行(重要:預設自動壓縮寬度不換行)  */
  gap:5px; /*//間隔10px */
  justify-content: center;   /*//置中 */
  align-items: center;  /*//副軸置中 */
  }